Enter a number of party members: <input type="number" min=1 max=20>
Enter a level: <input type="number", min=1 max=20>
<form>
    <fieldset>
        <legend>Envirorment</legend>
        <p>
            <label>filler text</label>
            <select id="hi">
                <option value="1">one</option>
                <option value="2">two</option>
                <option value="3">three</option>
                <option value="4">four</option>
            </select>
        </p>
    </fieldset>
</form>
Difficulty of encounter: <input type="number">
