<!DOCTYPE html>
<html>
<head>
    <title>Class Creator</title>
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>


</head>


<body> 
<!-- content first, nice looking website second -->
    <p>so you wanna add a class to our website? Great!</p>

    Character Name: <input id='character_name' type='text' /><br/>
    Player Name: <input id='player_name' type='text' /><br/>
    Bio: <textarea rows='10' cols='50' id='bio'> </textarea>

</body>