<!DOCTYPE html>
<html>
<head>
<title>People Die if They Are Killed</title>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type='text/javascript' src='home.js'></script>
</head>
<body>
Enter a number of party members: <input type="number" id='party-number' min=1 max=20>
Enter a level: <input type="number" id='party-level' min=1 max=20>
<form>
    <fieldset>
        <legend>Environment</legend>
        <p>
            <label></label>
            <select id='environments'>
                  <% @environs.each() do |environ| %>
             <option value= "<%= environ.id()%>"> <%= environ.name() %> </option>
                <% end %>
            </select>
        </p>
    </fieldset>
</form>
Difficulty of encounter: <select id = "diff">
<option value = 1>Easy</option>
<option value = 2>Moderate</option>
<option value = 3>Difficult</option>
<option value = 4>Impossible</option>
</select>

<button id='generate'>Generate Encounter</button>
<div id = 'encounter'>
</div>
</body>
</html>
